<html>
    <head>    
        <script>
            function deleteConfirmFunction(){
                var f = document.getElementById("_idForm");
                if(confirm("Do you want to delete this record?")){
                    f.action = "/delete";
                    f.method = "POST";
                    f.submit();
                } else {
                    
                }
            }
            function editFunction(){
                var f = document.getElementById("_idForm");
                f.action = "/edit";
                f.method = "GET";
                f.submit();
            }
        </script>
        <link rel="stylesheet" href="/css/detailStyle.css"/>
    </head>
    <title>Detail page</title>
    <body>
        <form type="hidden" name="_idForm" id="_idForm">
            <input type="hidden" name="_id" value=<%=restaurant._id %>>
            <input type="hidden" name="owner" value=<%=restaurant.owner %>>
        </form>
        <% if(restaurant.photo){%>
            <img src="data:image/jpg;base64, <%= restaurant.photo %>" class="photobox"><br>
        <% } %>

        <table class="detailtable">
            <tr>
                <th> Restaurant ID: </th>
                <th><%= restaurant.restaurant_id %></th>
            </tr>
            <tr>
                <th> Restaurant Name: </th>
                <th><%= restaurant.name %></th>
            </tr>
            <tr>
                <th> Restaurant Owner: </th>
                <th><%= restaurant.ownername %></th>
            </tr>
            <tr>
                <th> Borough: </th>
                <th><%if(restaurant.borough){%><%= restaurant.borough%><%} else {%>NaN<%}%></th>
            </tr>
            <tr>
                <th> Cuisine: </th>
                <th><%if(restaurant.cuisine){%><%= restaurant.cuisine%><%} else {%>NaN<%}%></th>
            </tr>
        </table>
        <table class="detailtable">
            <tr>
                <th> Address </th>
            </tr>
            <tr>
                <th> Street: </th>
                <th> <%if(restaurant.address.street){%><%=restaurant.address.street%><%} else {%>NaN<%}%> </th>
            </tr>
            <tr>
                <th> Building: </th>
                <th> <%if(restaurant.address.building){%><%=restaurant.address.building%><%} else {%>NaN<%}%> </th>
            </tr>
            <tr>
                <th> Zipcode: </th>
                <th> <%if(restaurant.address.zipcode){%><%=restaurant.address.zipcode%><%} else {%>NaN<%}%> </th>
            </tr>
            <tr>
                <th>  </th>
                <th> <% if(restaurant.address.coord[0] && restaurant.address.coord[1]){%>
                    <a href="/coord?lat=<%=restaurant.address.coord[0]%>&lon=<%=restaurant.address.coord[1]%>">Look the coordinate</a><br>
                <%} else {%>
                    No coordinate available </br>
                <% }%> </th>
            </tr>
        </table>
        
        <br>
        ~User Rating~
        <br><br>
        <div class="rateBox">
        <% if(restaurant.grades.length > 0){%>
            <% var i = 1%>
            <% for(var g of restaurant.grades){ %>
                <div class="scorebox">
                    <%= i%>.
                    <%= g.name %></a>
                    <%= g.score %></a>
                    <%i++%>
                </div><br>
            <% } %>
        <% } else { %><div class="centerSpan">~No user rating~</div><%}%>
        </div>
        </br>
        <%if(userid != null){%>
            <div>
                <form action="/rate" method="POST">
                    <input type="hidden" name="_id" value=<%=restaurant._id %>>
                    <input type="hidden" name="name" value=<%=restaurant.name %>>
                    Rating : <input type="number"  name="rate" max="10" min="1" value="1" required>
                    <button type="submit">Rate</button>
                </form>
            </div><br>
        <%} else {%>
            ~Login to rate the restaurant~
        <%}%>
        </br></br>
        <%if(userid == restaurant.owner && userid != null){%>
            <button type="button" onclick="editFunction()">Edit</button>
            <button type="button" onclick="deleteConfirmFunction()">Delete</button>
        <%}%>
        <input type ="button" onclick="history.back()" value="Back"></input>
        <input type = "button" onclick="window.location.href='/'" value = "Back to main"></input>
        
        <!--
        1.  restaurant_id
        ii. name
        iii. borough
        iv. cuisine
        v. photo
        vi. photo mimetype
        vii. address
        1. street
        2. building
        3. zipcode
        4. coord
        viii. grades
        1. user
        2. score
        ix. owner-->
    </body>
</html>