<html>
    <head>    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            function handleChange(checkbox) {
                var c = document.getElementById("photoUpload");
                if(checkbox.checked == true){
                    c.setAttribute("disabled", "disabled");
                }else{
                    c.removeAttribute("disabled");
                }
            }
        </script>
    </head>
    <title>Edit page</title>
    <body>
        <div>
            <form action="/update" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_id" value="<%=restaurant._id%>">
                name:<input type="text" name="name" required value="<%=restaurant.name%>"><br>
                borough:<input type="text" name="borough"  value="<%=restaurant.borough%>"><br>
                cuisine:<input type="text" name="cuisine"  value="<%=restaurant.cuisine%>"><br>
                address:<br>
                street:<input type="text" name="street"  value="<%=restaurant.address.street%>"><br>
                building:<input type = "text" name = "building" value="<%=restaurant.address.building%>"><br>
                zipcode:<input type = "text" pattern= "[0-9]+" name = "zipcode" value="<%=restaurant.address.zipcode%>" maxlength="10" size="10"><br>
                coord:<br>
                latitude:<input type = "text" name = "lat" pattern= "[0-9.-]+" value="<%=restaurant.address.coord[1]%>">
                longitude:<input type = "text" name = "lon" pattern= "[0-9.-]+" value="<%=restaurant.address.coord[0]%>"></a><br>
                <% if(restaurant.photo){%>
                    <img src="data:image/jpg;base64, <%= restaurant.photo %>"><br>
                    <input type="checkbox" name="removePhoto" onchange="handleChange(this)">remove photo</input>
                <% } %>
                <input type="file" name="photoUpload" id="photoUpload">
                <br>
                <input type="submit" name="submit" value="Submit">
            </form>
            <input type="button" value="Cancel" onclick="history.back()">
        </div>
        <!--
        1.  restaurant_id
        ii. name
        iii. borough
        iv. cuisine
        v. photo
        vi. photo mimetype
        vii. address
        1. street
        2. building
        3. zipcode
        4. coord
        viii. grades
        1. user
        2. score
        ix. owner-->
    </body>
</html>