<html>
    <head>
        <link rel="stylesheet" href="/css/indexStyle.css"/>
        <link rel="stylesheet" href="/css/searchStyle.css">
    </head>
    <title>Search page</title>
    <body>
        
        <div style="color: gray; text-align: right;">Search result : <%=length=restaurants.length%></div>
        <br><br>
        <div class="searchArea">
        <% for(var r of restaurants){ %>
            <div class="searchItemBox">
                <b style="color: indigo;"><%= r.restaurant_id %></b></a>
                <%= r.name %></a>
                <a href="/detail?_id=<%= r._id %>" class="detailBotton">Detail</a></br>
                <div class="innerDetail">
                    Borough: <%= r.borough %></br>
                    Cuisine: <%= r.cuisine %></br>
                </div>
            </div>
        <% } %>
        </div>
        <!--<ul>
            <% for (var r of restaurants) { %>
            <li><%= r.restaurant_id %></a></li>
            <li><%= r.name %></a></li>
            <li><%= r.borough %></a></li>
            <li><%= r.cuisine %></a></li>
            <br>
            <% } %>
        </ul>-->
        <input type = "button" onclick="window.location.href='/'" value = "Back to main" class="staticButton"></input>
    </body>
</html>