<html>
    <head>    
        <link rel="stylesheet" href="/css/userdetailStyle.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            function alertFunction(){
                //if(document.referrer != null && document.referrer != ""){
                if(<%=value.c%> == 1){
                    alert("Create successful");
                }
                if(<%=value.c%> == 0){
                    alert("Error occur in creation of restaurant document");
                } 
                if(<%=value.d%> == 1){
                    alert("Delete successful");
                }
                //}
            }
        </script>
    </head>
    <title>User Detail</title>
    <body onload="alertFunction()">
        <div>
            User name : <%=account.username%> </br>
            Name : <%=account.name%> </br>
            <div style="display: inline-block; width: 50%;">Created restaurant</div>
            <div style="display: inline-block; ">Restaurants Count : <%=account.restaurants.length%></div>
            <div class="restaurantArea">
                <% if(account.restaurants.length > 0){%>
                    <% for (var r of account.restaurants){%>
                        <div class="restaruantItem">
                        <%= r.restaurant_id %></a>
                        <%= r.name %></a>
                        <a href="/detail?_id=<%= r._id %>" class="detailBotton">Detail</a></br>
                        </div>
                    <%}%>
                <%}else{%>
                    You have not created any restaurant documents</br>
                <%}%>
            </div>
            <a href="/create">Create restaurant record</a></br></br>
            <div>Rating : </div>
            <div class="restaurantArea">
            <% if(account.grading.length > 0){%>
                <% for (var r of account.grading){%>
                    <div class="restaruantItem">
                        <table style="width: 100%; text-align: left; table-layout: fixed;">
                            <tr>
                                <th>
                                    Restaurant Name : <%= r.name %>
                                </th>
                                <th>
                                    Given score : <%= r.score %>
                                </th>
                                <th>
                                    <a href="/detail?_id=<%= r._id %>" class="detailBotton">Detail</a></br>
                                </th>
                            </tr>
                        </table>
                    </div>
                <%}%>
            <%}else{%>
                You have not rated any restaurant documents</br>
            <%}%>
            </div><br>
            <input type ="button" onclick="history.back()" value="Back"></input>
            <input type = "button" onclick="window.location.href='/'" value = "Back to main"></input>
        </div>
    </body>
</html>